@media screen and (max-width: 1200px) {
 #desktop-nav {
  display: none;
 }
 #hamburger-nav {
  display: flex;
 }
 .title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 .img-container {
  text-align: center;
  width: 100%;
 }
 .img-container img {
  width: 800px;
  padding-left: 50px;
  padding-top: 50px;
 }
 .text-container {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
 }
}

@media (max-width: 480px) {
 .container .custom-card {
  width: 230px;
  border-radius: 15px;
 }
 .container .custom-card .img-box {
  width: 185px;
  border-radius: 10px;
 }
 .container .custom-card .custom-content p {
  font-size: 0.8rem;
 }
 .container .custom-card .custom-content a {
  font-size: 0.9rem;
 }
}
